<script>

	const endpoint = "http://localhost:8080/api/v1/orders/checkpayment/"

  let orderIdToPaymentVeriefied = 'ONRb76613e'
	export let anderesPromise = []

    console.log("Buchhaltung-Comp")
    console.log(anderesPromise)

    anderesPromise.then(function(result) {
        for (let order of result) {
            console.log(order.orderID)
        }
    })

    //Funktion zum Ändern des State eines Orders
    const changeState = () => {
      const res =  fetch(endpoint+orderIdToPaymentVeriefied, {
			method: 'POST',
      //body: JSON.stringify({
      //  orderID: orderIdToPaymentVeriefied
      //}),
      headers: {
        'Content-Type': 'application/json'
      }
		})     
    }

let ordersFound = 0

</script>

<main>  

<div id="verifyOrderPayment">
	<h3>Buchhaltung - Zahlungen bestätigen</h3>

	<!-- await wird angezeigt wenn Objekt geladen wird-->
	<!--then wird angezeigt wenn Objekt fertig geladen wurde-->
	<!--catch wird angezeigt wenn Objekt nicht geladen wurde-->


	{#await anderesPromise}
	  <p style="color: blue">Warte auf Daten</p>
	{:then orders}
  
	  <h1>Hier sind alle Bestellungen</h1>

      <tr>

        <td>OrderID</td>
        <td>KundenName</td>
        <td>Status</td>

    </tr>
    
      {#each orders as order}
        {#if order.state === 'PLACED'}
          <tr>
              <td>{order.orderID}</td>
              <td>{order.customerFirstname + ' ' + order.customerLastname}</td>
              <td><button on:click={changeState}>{order.state}</button></td>
          </tr>
          {ordersFound++}
        {/if}
      {/each}

      {#if ordersFound === 0}
      <p>Keine Bestellungen mit Status PLACED vorhanden</p>
      {/if}
	  
	{:catch error}
	  <p style="color: red">{error.message}</p>
	(3)
	{/await}

</div>

</main>

<style>
    *{
        font-family: Tahoma;
    }
    #verifyOrderPayment{
        border: 1px solid black;    
        border-radius: 0.75rem;    
		margin-left: 1rem;
		background-color: burlywood;
    }
</style>