<script>

	export let anderesPromise = []

    console.log("Kunde-Comp")
    console.log(anderesPromise)

    anderesPromise.then(function(result) {
        for (let order of result) {
            console.log(order.orderID)
        }
    })

</script>

<main>  

<div id="verifyOrderPayment">
	<h3>Kunde - Alle Bestellungen anzeigen</h3>

	<!-- await wird angezeigt wenn Objekt geladen wird-->
	<!--then wird angezeigt wenn Objekt fertig geladen wurde-->
	<!--catch wird angezeigt wenn Objekt nicht geladen wurde-->


	{#await anderesPromise}
	  <p style="color: blue">Warte auf Daten</p>
	{:then orders}
  
	  <h1>Hier sind alle Bestellungen</h1>

      <tr>

        <td>OrderID</td>
        <td>KundenName</td>
        <td>Status</td>

    </tr>
    
      {#each orders as order}

        {#if order.customerID === 'CXU1234567'}
        <tr>
            <td>{order.orderID}</td>
            <td>{order.customerFirstname + ' ' + order.customerLastname}</td>
            <td>{order.state}</td>
        </tr>
        {/if}
          
      {/each}

      {#if orders.length === 0}
      <p>Keine Bestellungen vorhanden</p>
      {/if}
	  
	{:catch error}
	  <p style="color: red">{error.message}</p>
	(3)
	{/await}

</div>

</main>

<style>
    *{
        font-family: Tahoma;
    }
    #verifyOrderPayment{
        border: 1px solid black;    
        border-radius: 0.75rem;    
		margin-left: 1rem;
		background-color: burlywood;
    }
</style>