<script>

    import { onMount } from "svelte"

	const endpointPackItem = "http://localhost:8080/stock/setPackedForPacking/"

  export let allPackings =  [];  

  function packItem(itemId){
    console.log("POST-Durchführen...Item packen")
    console.log("Packe Artikel mit Id: "+itemId)

		const res =  fetch(endpointPackItem + itemId, {
			method: 'POST',
            headers: {
                    'Content-Type': 'application/json'
            }			
		})            
    
  }
  
    
</script>

<main>  

<div id="verifyOrderPayment">
	<h3>Lager - Bestellungen versenden</h3>

  {#await allPackings}
	  <p style="color: blue">Warte auf Daten</p>
	{:then packings}
  
	  <h1>Hier sind alle Bestellungen</h1>
        
      {#each packings as packing}
      <hr>
      <tr>
        <th>Packing-Id</th>
        <th>Bestell-Id</th>
        <th>Artikel-Id</th>
        <th>Produkt-Name</th>
        <th>Menge</th>
        <th>Status</th>
        <th>packen</th>
      </tr>

      {#each packing.packingItemList as item}    
      <tr>
        <td>{packing.id}</td>
        <td>{packing.orderId}</td>
        <td>{item.id}</td>
        <td>{item.productName}</td>
        <td>{item.amount}</td>
        <td>{item.packed == true ? "gepackt":"nicht gepackt"}</td>       
        <td><button on:click={() => packItem(item.id)}>packen</button></td>
      </tr>   
      {/each} 
      {/each}     
	  
	{:catch error}
	  <p style="color: red">{error.message}</p>
	(3)
	{/await}    
   
</div>

</main>

<style>
    *{
        font-family: Tahoma;
    }
    #verifyOrderPayment{
        border: 1px solid black;    
        border-radius: 0.75rem;    
		margin-left: 1rem;
		background-color: burlywood;
    }
</style>