<script>
  import { Router, Route, Link } from "svelte-navigator"; 
  import BackButton from "./components/BackButton.svelte";
  import ForwardButton from "./components/ForwardButton.svelte";
  import CreateOrder from "./components/CreateOrder.svelte";	
  import Buchhaltung from "./components/Buchhaltung.svelte";
  import Kunde from "./components/Kunde.svelte";
  import Lager from "./components/Lager.svelte";
  
  import { onMount } from "svelte"

  const endpoint = "http://localhost:8080/api/v1/orders/"

  const endpointPA = "http://localhost:8080/stock/packings/"
  
  let test

  let test2

  async function getAllOrders() {
    const response = await fetch(endpoint)
	  
	  const orders = await response.json()
    console.log("App-Comp")
	  console.log(orders)
  
	  if (orders.errorCode) {
		throw new Error(orders.errorMessage)
	  } else {
      return orders
    }
  }

  async function getAllPackings() {
    const response = await fetch(endpointPA)
	  
	  const packings = await response.json()
    console.log("App-Lager")
	  console.log(packings)
  
	  if (packings.errorCode) {
		throw new Error(packings.errorMessage)
	  } else {
      return packings
    }
  }

  onMount(async function () {
	  test = getAllOrders();
    test2 = getAllPackings();
	})

</script>

<Router>
  <header>
    <h1>ERP-Lite</h1>

    <nav>
      <BackButton />
      <ForwardButton />
      <Link to="/">Artikel-Übersicht</Link>
      <Link to="buchhaltung">Buchhaltung</Link>
      <Link to="lager">Lager</Link>
      <Link to="kunde">Kunde</Link>
    </nav>
  </header>

  <main>
    <!--<Route path="blog/*blogRoute" component={Blog}> -->
    <Route path="kunde">
      <h3>Übersicht-Kunde</h3>
      <p>Hier werden alle Orders mit dem jeweiligen Status angezeigt</p>
      <div id="viewCont">
      <Kunde anderesPromise = {test} />
      </div>
    </Route>

    <Route path="buchhaltung">
      <h3>Buchhaltung</h3>
      <p>Hier werden alle Orders mit PLACED angezeigt</p>
      <div id="viewCont">
        <Buchhaltung anderesPromise = {test} />
      </div>
    </Route>

    <Route path="lager">
      <h3>Lager</h3>
      <p>Hier werden alle Orders mit PAYMENT_VERIFIED angezeigt</p>
      <div id="viewCont">
        <Lager allPackings = {test2}/>
      </div>
    </Route>

    <Route>
      <h3>Artikel-Übersicht</h3>
      <p>Hier werden die Artikel aufgelistet</p>
      <div>
        <div id="viewCont">
          <CreateOrder/>
        </div>
      </div>
    </Route>
  </main>
</Router>


<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }

  img {
    height: 16rem;
    width: 16rem;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 2rem auto;
    max-width: 14rem;
  }

  p {
    max-width: 14rem;
    margin: 1rem auto;
    line-height: 1.35;
  }

  #viewCont{
		display: flex;
		flex-direction: row;
		height: 25rem;		
		margin-left: 5rem;
		/*align-content: space-between;*/
		justify-content: center;
	}

  @media (min-width: 480px) {
    h1 {
      max-width: none;
    }

    p {
      max-width: none;
    }
  }
</style>
