<script> 

    const endpoint = "http://localhost:8080/api/v1/orders/"

    let order = {
        "customerID": "CXU1234567",
		"customerFirstname": "Josef",
		"customerLastname": "Reiter",
		"customerEmail": "josefreiter9@gmail.com",
		"customerStreet": "Dorfstraße 10",
		"customerZipcode": "6250",
		"customerCity": "Kundl",
		"customerCountry": "Österreich",
        "cartItems": [            
        ]
    }    

    let allCardItems = [    //enthält alle verfügbaren cardItems, die ein Benutzer auswählen kann
        { 
            "isSelected" : false,  
            "amountSelected" : 0,       
			"productNumber": "0000000001",
			"productName": "Apfel",
			"priceNet": 1.99,
			"tax": 10,
			"amount": 20			
        },
        {  
            "isSelected" : false,       
            "amountSelected" : 0,          
			"productNumber": "0000000002",
			"productName": "Birne",
			"priceNet": 1.25,
			"tax": 10,
			"amount": 10		
        },
        {   
            "isSelected" : false,     
            "amountSelected" : 0,          
			"productNumber": "0000000003",
			"productName": "Orange",
			"priceNet": 3.25,
			"tax": 10,
			"amount": 15		
        }            
    ]

    let selectedCardItems = []  //hier werden alle ausgewählten cardItems gespeichert 
    
    //Funktion zum Ausführen einer neuen Bestellung
    function saveOrder() {
		console.log("Bestellung speichern...")

        console.log("Alle Produkte:")
        console.log(allCardItems)

        console.log("Ausgewählte Produkte:")
        console.log(selectedCardItems)

        getSelectedItems()    
        
        prepareOrder()
        
        postOrder()

        displayMessage()

        displayMessageProducts()
	}

    //Funktion zum Hinzufügen aller ausgewählten Artikel zum Array selectedCardItems
    function getSelectedItems(){
        allCardItems.forEach(function(item) {
            if(item.isSelected === true && item.amountSelected > 0){

                let orderItem = {
                        "productNumber": item.productNumber,
                        "productName": item.productName,
                        "priceNet": item.priceNet,
                        "tax": item.tax,
                        "amount": item.amountSelected
                }
                
                selectedCardItems.push(orderItem)
            }
        });
    }

    //Funktion zum vorbereiten eines Order-Objekts mit allen ausgewählten order-items
    function prepareOrder(){
        //alle ausgewählten Produkte zum order-Objekt hinzufügen
        selectedCardItems.forEach(function(item) {
            order.cartItems.push(item)
        });
    }

    //Funktion zum Durchführen des POST-Requests
    function postOrder () {
        console.log("POST-Durchführen...")
        console.log(order);
		const res =  fetch(endpoint, {
			method: 'POST',
            headers: {
                    'Content-Type': 'application/json'
            },
			body: JSON.stringify(order)
		})     
        
        console.log("Server-Response: "+res)
	}

    function displayMessage(){
        document.getElementById('message').innerText="Bestellung aufgegeben"

        setTimeout(()=>{
             document.getElementById('message').innerText=""
             },2000)
    }

    function displayMessageProducts(){
        selectedCardItems.forEach(function(item){
            let productsOrdered = "Bestellte Produkte: ";

            productsOrdered += " "+ item.productName
            document.getElementById('messageProducts').innerText=productsOrdered
        })
    }

</script>
<div id="createOrderCont">

<h3>Kundenansicht - Warenkorb</h3>

<table>
            <tr>
                <th>Produkt Name</th>
                <th>Menge</th>
                <th>Auswählen</th>
            </tr>
    {#each allCardItems as item}
				<tr>				
					<td>{item.productName}</td>
					<td>
						<select bind:value={item.amountSelected}>
							{#each {length: 5} as _, i}
										<option value = "{i+1}">{i+1}</option>
							{/each}
						</select>
					</td>
					<td>
						<input type="checkbox" bind:checked={item.isSelected}>
					</td>
                    <td>
                        {#if item.isSelected}
                            <span>ausgewählt</span>
                        {/if}
                    </td>
				</tr>
	{/each}
    <tr>
        <td></td>
        <td></td>
        <td><button on:click={saveOrder}>bestellen</button></td>
    </tr>
</table>

<div id="message"></div>

<div id="messageProducts"></div>

</div>
<style>
    *{
        font-family: Tahoma;
    }
    #createOrderCont{
        border: 1px solid black;    
        border-radius: 0.75rem;    
        background-color: lightblue;
    }
</style>