<script>

	//TODO:erhalte alle Order-Ids eines Benutzers
	//TODO:lade alle Bestellungen eines Benuters (Order placed ) + anzeigen Order-Name + Button Bestellung verifizieren

	import { onMount } from "svelte"
	
	let order_id = "ONR496b144"  
  
	$: endpoint = "http://localhost:8080/api/v1/orders/" + order_id //wenn order_id geändert wird -> ändere endpoint ($-Notation binding)
  
	$: if(order_id.length === 10){
		promise = getOrder(); //Objekt neu laden, sobald order-id gültig ist ($-Notation binding)
	}
  
	async function getOrder() {
	  const response = await fetch(endpoint)
	  
	  const order = await response.json()
	  console.log(order)
  
	  if (order.errorCode) {
		throw new Error(order.errorMessage)
	  }
  
	  return order
	}
  
	let promise = getOrder();
  
	onMount(async function () {
	  promise = getOrder();
	})
  
  </script>

<main>  

<div id="verifyOrderPayment">
<h3>Buchhaltung - Zahlungen bestätigen</h3>

<!-- await wird angezeigt wenn Objekt geladen wird-->
<!--then wird angezeigt wenn Objekt fertig geladen wurde-->
<!--catch wird angezeigt wenn Objekt nicht geladen wurde-->


	Order-id:<input bind:value={order_id}>
  
	{#if order_id.length !== 10}
	  <p style="color: red">Order-Id ungültig</p> 
	{/if}  
  
	{#await promise}
	  <p style="color: blue">Warte auf Daten</p>
	{:then order}
  
	  <h1>Hallo {order.customerFirstname}</h1>
  
	  {#if order.state === "PAYMENT_VERIFIED"}
		<p>Vielen Dank für die Bestellung!</p>
	  {:else}
		<p>Nix da</p>
	  {/if}
  
	{:catch error}
	  <p style="color: red">{error.message}</p>
	(3)
	{/await}  


</div>

</main>

<style>
    *{
        font-family: Tahoma;
    }
    #verifyOrderPayment{
        border: 1px solid black;    
        border-radius: 0.75rem;    
		margin-left: 1rem;
		background-color: burlywood;
    }
</style>